body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
}

.app-container {
  display: flex; /* Splits the screen into columns */
  height: 100vh;
}

.main-content {
  flex: 1; /* Takes up all remaining space on the right */
  display: flex;
  flex-direction: column; /* Stacks header and page-content vertically */
  background-color: #f4f7f6;
}

.page-content {
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if tables get long */
}